body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ69mPOBCbk_UBRn9FpdB9izrsSbdZrChl7qQ&usqp=CAU");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

header {
    background-color: #130303;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
  
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resources,
.crop-seasons {
    margin-bottom: 20px;
    font-size: large;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size:larger;
    color: #040000;
}

a:hover {
    color: #007bff;
}
